.single-container
  %header.single-header
    %h1
      =link_to image_tag('logo.svg'),root_path
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li
          会員情報
          .progress-status#step1
        %li
          電話番号認証
          .progress-status#step2
        %li
          お届け先住所入力
          .progress-status#step3
        %li
          支払い方法
          .progress-status#step4
        %li
          完了
          .progress-status#step5
  %main
    %section
      %h2 会員情報登録
      =form_for(@creditvalid, html: {class: 'l-single-inner'}) do |f|
        .l-single-content#third-form
          .form-group
            =f.label :カード番号
            %span.form-arbitrary
              必須
            =f.text_field :card_number, class: 'input-default', placeholder: '例)1234567'
            - if @creditvalid.errors.full_messages_for(:card_number) != []
              - @creditvalid.errors.full_messages_for(:card_number).each do |message|
                = message
            %ul.signup-card-list
              %li
                =image_tag('visa.svg', width:49, height:20)
              %li
                =image_tag('master-card.svg', width:34, height:20)
              %li
                =image_tag('saison-card.svg', width:30, height:20)
              %li
                =image_tag('jcb.svg', width:32, height:20)
              %li
                =image_tag('dinersclub.svg', width:21, height:20)
              %li
                =image_tag('discover.svg', width:32, height:20)
              %li
                =image_tag('american_express.svg', width:32, height:20)
          .form-group
            =f.label :有効期限
            %span.form-arbitrary
              必須
            .select-wrap
              =f.select :exp_month,User.exp_months.keys,{prompt: '--'},class: "select-default"
              =fa_icon "chevron-down"
              - if @creditvalid.errors.full_messages_for(:exp_month) != []
                - @creditvalid.errors.full_messages_for(:exp_month).each do |message|
                  .error_message
                    = message
            .select-wrap
              =f.select :exp_year, User.exp_years.keys,{prompt: '--'},class: "select-default"
              =fa_icon "chevron-down"
              - if @creditvalid.errors.full_messages_for(:exp_year) != []
                - @creditvalid.errors.full_messages_for(:exp_year).each do |message|
                  .error_message
                    = message
          .form-group
            =f.label :セキュリティコード
            %span.form-arbitrary
              必須
            =f.text_field :security_code,class: 'input-default', placeholder: '例)カード背面4桁or3桁の番号'
            - if @creditvalid.errors.full_messages_for(:security_code) != []
              - @creditvalid.errors.full_messages_for(:security_code).each do |message|
                .error_message
                  = message
          .text-right
            %span.form-question
              ?
            =link_to '#' do
              カード裏面の番号とは？
          .form-group
            = f.submit :登録する,class: 'submit_button',id: 'ivent-button3'

=javascript_include_tag 'registrations_new.js'
            