
<div class="l-container">
  <div class="l-content">
    <div class="mypage-user-icon">
      
    </div>
    <div class="mypage-tab-container-notification-todo">
      
    </div>
    <div class="mypage-tab-container">
      
    </div>
  </div>

  <ul class="l-side">
    <li class="sidebar__list">
      <%=link_to "お知らせ","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "やることリスト","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "いいね！一覧","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "出品する","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "出品した商品-出品中-","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "出品した商品-出品中-","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "出品した商品-出品中-","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "購入した商品-出品中-","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "購入した商品-出品中-","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "ニュース一覧","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "評価一覧","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "ガイド","#"%>
    </li>
    <li class="sidebar__list">
      <%=link_to "お問い合わせ","#"%>
    </li>
  </ul>
</div>