.container
  .mypage
    .mypage__user-icon
    .mypage__tab-container-notification-todo
    .mypage__tab-container
  .sidebar
    %ul.sidebar__list
      %li.sidebar__list__element
        = link_to "お知らせ","#"
      %li.sidebar__list__element
        = link_to "やることリスト","#"
      %li.sidebar__list__element
        = link_to "いいね！一覧","#"
      %li.sidebar__list__element
        = link_to "出品する","#"
      %li.sidebar__list__element
        = link_to "出品した商品-出品中-","#"
      %li.sidebar__list__element
        = link_to "出品した商品-出品中-","#"
      %li.sidebar__list__element
        = link_to "出品した商品-出品中-","#"
      %li.sidebar__list__element
        = link_to "購入した商品-出品中-","#"
      %li.sidebar__list__element
        = link_to "購入した商品-出品中-","#"
      %li.sidebar__list__element
        = link_to "ニュース一覧","#"
      %li.sidebar__list__element
        = link_to "評価一覧","#"
      %li.sidebar__list__element
        = link_to "ガイド","#"
      %li.sidebar__list__element
        = link_to "お問い合わせ","#"
