.l-container
  .l-content
    .mypage-user-icon
    .mypage-tab-container-notification-todo
    .mypage-tab-container
  %ul.l-side
    %li.sidebar__list
      = link_to "お知らせ","#"
    %li.sidebar__list
      = link_to "やることリスト","#"
    %li.sidebar__list
      = link_to "いいね！一覧","#"
    %li.sidebar__list
      = link_to "出品する","#"
    %li.sidebar__list
      = link_to "出品した商品-出品中-","#"
    %li.sidebar__list
      = link_to "出品した商品-出品中-","#"
    %li.sidebar__list
      = link_to "出品した商品-出品中-","#"
    %li.sidebar__list
      = link_to "購入した商品-出品中-","#"
    %li.sidebar__list
      = link_to "購入した商品-出品中-","#"
    %li.sidebar__list
      = link_to "ニュース一覧","#"
    %li.sidebar__list
      = link_to "評価一覧","#"
    %li.sidebar__list
      = link_to "ガイド","#"
    %li.sidebar__list
      = link_to "お問い合わせ","#"
