- breadcrumb :credit_new
= render 'items/header'
-if flash[:notice]
  %p.flash
    = flash[:notice] 
.container.clearfix
  .card-container
    %h2.card-container__head クレジットカード登録
    =form_for([@user,@credit],html:{class: 'l-single-inner'}) do |f|
      .l-single-content
        .form-group
          =f.label :カード番号
          %span.form-arbitrary
            必須
          =f.text_field :card_number,id: 'card_number',class: 'input-default', placeholder: '例)1234567'
          - if @credit.errors.full_messages_for(:card_number) != []
            - @credit.errors.full_messages_for(:card_number).each do |message|
              .error_message
                = message
          %ul.signup-card-list
            %li
              =image_tag('visa.svg', width:49, height:20)
            %li
              =image_tag('master-card.svg', width:34, height:20)
            %li
              =image_tag('saison-card.svg', width:30, height:20)
            %li
              =image_tag('jcb.svg', width:32, height:20)
            %li
              =image_tag('dinersclub.svg', width:21, height:20)
            %li
              =image_tag('discover.svg', width:32, height:20)
            %li
              =image_tag('american_express.svg', width:32, height:20)
        .form-group
          =f.label :有効期限
          %span.form-arbitrary
            必須
          .select-wrap
            =f.select :exp_month, User.exp_months.keys,{prompt: "---"},{class: "select-default",id: 'exp_month'}
            =fa_icon "chevron-down"
          - if @credit.errors.full_messages_for(:exp_month) != []
            - @credit.errors.full_messages_for(:exp_month).each do |message|
              .error_message
                = message

          .select-wrap
            =f.select :exp_year, User.exp_years.keys,{prompt: "---"},{class: "select-default",id: 'exp_year'}
            =fa_icon "chevron-down"
          - if @credit.errors.full_messages_for(:exp_year) != []
            - @credit.errors.full_messages_for(:exp_year).each do |message|
              .error_message
                = message

        .form-group
          =f.label :セキュリティコード
          %span.form-arbitrary
            必須
          =f.text_field :security_code,id: 'security_code',class: 'input-default', placeholder: '例)123'
          - if @credit.errors.full_messages_for(:security_code) != []
            - @credit.errors.full_messages_for(:security_code).each do |message|
              .error_message
                = message
        .text-right
          %span.form-question
            ?
          =link_to '#' do
            カード裏面の番号とは？
        .form-group
          =f.submit :登録する,class: 'submit_button',id: 'ivent-button3'
  = render partial:'users/sidebar'

=javascript_include_tag 'payjp2.js'
