<div class="login-cover">
  <%=link_to image_tag("logo.svg",size: "200x100"),"#"%>

  <div class="login-panel">
    <div class="login-panel__top">
      <p>アカウントをお持ちでない方はこちら</p>
      <%=link_to "新規会員登録","#"%>
    </div>
    <div class="login-panel__body">
      <%=link_to "#",class: "f-log" do%>
        <i class="fa fa-facebook"></i> Facebookでログイン
      <%end%>
      <%=link_to "#",class: "g-log" do%>
        <i class="fa fa-google"></i> Googleでログイン
      <%end%>
      <div class="form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form__group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス"%>
          </div>
          <div class="form__group">
            <%= f.password_field :password, autocomplete: "current-password",placeholder: "パスワード"%>
          </div>
        <%end%>
      </div>
      <div class="recapcha"></div>
      <%= link_to"ログイン","#",class: "login-button" %>
      <div class="forget-password">
        <%= link_to"パスワードをお忘れの方","#"%>
      </div>
    </div>
  </div>

  <div class="login-footer">
    <ul class="login-footer__list">
      <li><%=link_to "プライバシーポリシー","#"%></li>
      <li><%=link_to "メルカリ利用規約","#"%></li>
      <li><%=link_to "特定商取引に関する表記","#"%></li>
    </ul>
    <%=image_tag "logo-gray.svg",size: "80x65"%>
    <i class="login-footer__copyright">@2019Mercari</i>
  </div>

</div>