- breadcrumb :address

= render 'items/header'

.container.clearfix
  .identification
    %h2.identification-head 発送元・お届け先住所変更
    =form_for([@user,@address], html: {class: 'l-single-inner'}) do |f|
      .form-group
        =f.label :郵便番号
        %span.form-arbitrary
          任意
        =f.text_field :postal_code,class: 'input-default', placeholder: '例)1234567'
        - if @address.errors.full_messages_for(:postal_code) != []
          - @address.errors.full_messages_for(:postal_code).each do |message|
            .error_message
              = message
      .form-group
        =f.label :都道府県
        %span.form-arbitrary
          任意
        .select-wrap
          =f.collection_select :prefecture_id, Prefecture.all, :id, :name, {},class: 'select-default'
          =fa_icon "chevron-down"
          - if @address.errors.full_messages_for(:prefecture_id) != []
            - @address.errors.full_messages_for(:prefecture_id).each do |message|
              .error_message
                = message
      .form-group
        =f.label :市区町村
        %span.form-arbitrary
          任意
        =f.text_field :city,class: 'input-default', placeholder: '例)横浜市緑区'
        - if @address.errors.full_messages_for(:city) != []
          - @address.errors.full_messages_for(:city).each do |message|
            .error_message
              = message
      .form-group
        =f.label :番地
        %span.form-arbitrary
          任意
        =f.text_field :block,class: 'input-default', placeholder: '例)青山1-1-1'
        - if @address.errors.full_messages_for(:block) != []
          - @address.errors.full_messages_for(:block).each do |message|
            .error_message
              = message
      .form-group
        =f.label :建物
        %span.form-arbitrary
          任意
        =f.text_field :building,class: 'input-default', placeholder:'例)柳ビル103'
        - if @address.errors.full_messages_for(:building) != []
          - @address.errors.full_messages_for(:building).each do |message|
            .error_message
              = message
      .form-group
        =f.submit :変更する,class: 'submit_button'
      .form-group.text-right
        %p
          =link_to '#' do
            本人情報の登録について
            =fa_icon "chevron-right"
  = render partial:'/users/sidebar'
=render 'items/footer.html.haml'
