.content
  = render 'shared/second_header'
  %main.content--main
    = form_for @item do |f|
      = f.hidden_field :user_id, value: current_user.id
      %section.sell-form
        %h1
          商品の情報を入力
        .sell-form--img
          .sell-form--img__name
            .name-label
              %label.name-label__name
                出品画像
              %label.name-label__require
                必須
            %p
              最大10枚までアップロードできます
            .img_file_field
              = f.fields_for :pictures do |p|
                %label.img_file_field__in
                  = p.file_field :image
        .sell-form--item
          .sell-form--item__name
            .name-label
              %label.name-label__name
                商品名
              %label.name-label__require
                必須
            = f.text_field :name, class: 'name-form', placeholder: '商品名（必須40字まで）'
          .sell-form--item__description
            .name-label
              %label.name-label__name
                商品の説明
              %label.name-label__require
                必須
            = f.text_area :description, class: 'description-form', placeholder: '商品の説明（必須1000文字以内）　(色、素材、重さ、定価、注意点など）　例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
        .sell-form--detail
          %label.sell-form--detail__name
            商品の詳細
          .sell-form--detail__content
            .name-label
              %label.name-label__name
                カテゴリー
              %label.name-label__require
                必須
            .select-form{style: 'position: relative;'}
              = f.select :category_id, options_from_collection_for_select( @category, :id, :name),
  {:include_blank => '---'},{data:{remote: true, url: url_for(action: :category_select)}}
              = fa_icon "chevron-down"
            .child-category{style: 'position: relative; margin-top: 8px;'}
              #category-select
            .grand-child-category{style: 'position: relative; margin-top: 8px;'}
              #child-category-select
            .brand-state
              .name-label
                %label.name-label__name
                  ブランド
                %label.name-label__require
                  任意
              = f.text_field :brand, class: 'brand-form', placeholder: '例）シャネル'
            .item-state
              .name-label
                %label.name-label__name
                  商品の状態
                %label.name-label__require
                  必須
              .select-form
                = f.select :state, State.states.keys, prompt: "---"
                %i.fa.fa-chevron-down
        .sell-form--ship
          %label.sell-form--ship__name
            配送について
          .sell-form--ship__content
            .name-label
              %label.name-label__name
                配送料の負担
              %label.name-label__require
                必須
            .select-form
              = f.select :ship_charge, Ship_charge.ship_charges.keys, prompt: "---"
              %i.fa.fa-chevron-down
            .item-ship_method
              .name-label
                %label.name-label__name
                  配送の方法
                %label.name-label__require
                  必須
              .select-form
                = f.select :ship_method, [["未定", "未定"],["らくらくメルカリ便", "らくらくメルカリ便"],["ゆうメール", "ゆうメール"],["レターパック", "レターパック"],["普通郵便(定型、定形外)", "普通郵便(定型、定形外)"],["クロネコヤマト", "クロネコヤマト"],["ゆうパック","ゆうパック"],["クリックポスト","クリックポスト"],["ゆうパケット","ゆうパケット"]], prompt: "---"
                %i.fa.fa-chevron-down
            .item-charge
              .name-label
                %label.name-label__name
                  発送元の地域
                %label.name-label__require
                  必須
              .select-form
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "---"
                %i.fa.fa-chevron-down
            .item-date
              .name-label
                %label.name-label__name
                  発送元までの日数
                %label.name-label__require
                  必須
              .select-form
                = f.select :ship_date, [["1~2日で発送", "1~2日で発送"],["2~3日で発送", "2~3日で発送"],["4~7日で発送","4~7日で発送"]], prompt: "---"
                %i.fa.fa-chevron-down
        .sell-form--charge
          .sell-form--charge__name
            販売価格(300~9,999,999)
          .sell-form--charge__content
            .price-label
              .name-label
                %label.name-label__name
                  価格
                %label.name-label__require
                  必須
              .charge-form
                %label.charge-form__name
                  ¥
                  = f.text_field :price, class: 'charge-form__price', placeholder: '例）300'
            .commission-label
              %label.commission-label--left
                販売手数料（10%）
              .commission-label--right
                \-
            .profit-label
              %label.profit-label--left
                販売利益
              .profit-label--right
                \-
        .sell-form--submit
          .sell-form--submit__text
            %p.submit-notes
              %a{href: '#', id: 'text_link1'}
                禁止されている出品
              、
              %a{href: '#', id: 'text_link2'}
                行為
              を必ずご確認ください。<br>
              またブランド品でシリアルナンバーがある場合はご記載ください。
              %a{href: '#', id: 'text_link3'}
                偽ブランドの販売
              は犯罪であり処罰される可能性があります<br>
              また、出品をもちまして
              %a{href: '#', id: 'text_link4'}
                加盟店規約に同意したことになります。
          = f.button "出品する", class: "sell-form--submit__button"
          = link_to "root_path", class: "sell-form--submit__return" do
            もどる
  = render 'shared/second_footer'

=javascript_include_tag 'item.js'
