- breadcrumb :show, @item

= render 'header'

%section.item-box-container.l-single-container
  %h1.item-name
    = @item.name
  .item-box-container__main-content.clearfix
    .item-box-container__main-content__photo
      -if @item.buyer_id != nil
        .sold-badge
          .sold-badge-text SOLD
      .owl-carousel
        .owl-stage
          .owl-stage-outer{ style: 'left:0px',width: '900px'}
            - @item.pictures.each do |picture|
              - if picture.image.url.present?
                .owl-item{ style: 'width:300px'}
                  .owl-item__inner.is-higher-width
                    = image_tag picture.image.url

        .owl-dots
          - if @item.pictures.present?
            - @item.pictures.each do |picture|
              .owl-dot
                .owl-dot-inner
                  = image_tag picture.image.url

    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to "" do
              = @item.user.nickname
            .item-user-rates
              .item-user-rates__ratings
                =fa_icon "smile-o", class: "smile-o-pink"
                %span 523
              .item-user-rates__ratings
                =fa_icon "meh-o", class: "meh-o-orange"
                %span 1
              .item-user-rates__ratings
                =fa_icon "frown-o", class: "frown-o-blue"
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to "" do
              = @item.category
            / = link_to "" do
            /   .item-detail-table-sub-category
            /     %i.fa.fa-angle-right
            /     %span トップス
            / = link_to "" do
            /   .item-detail-table-sub-sub-category
            /     %i.fa.fa-angle-right
            /     %span カーディガン/ボレロ
        %tr
          %th ブランド
          %td
            = link_to "" do
              = @item.brand
        %tr
          %th 商品の状態
          %td
            = @item.state
        %tr
          %th 配送料の負担
          %td
            = @item.ship_charge
        %tr
          %th 配送の方法
          %td
            = @item.ship_method
        %tr
          %th 配送元地域
          %td
            = link_to "" do
              = @item.prefecture.name
        %tr
          %th 発送日の目安
          %td
            = @item.ship_date

  .item-price-box.text-center
    %span.item-price.bold
      = "¥ #{number_with_delimiter(@item.price)}"
    %span.item-tax (税込)
    %span.item-shipping-fee 送料込み


  - if @item.buyer_id != nil
    .item-buy-btn.sold-out 売り切れました
  - elsif user_signed_in? && current_user.id != @item.user_id
    = link_to item_sold_index_path(@item), class: "item-buy-btn" do
      購入画面に進む
  - elsif user_signed_in? && current_user.id == @item.user_id
    = link_to edit_item_path(@item), class: "item-edit-btn" do
      商品の編集
    .item-delete-btn 商品を削除する

  - else
    = link_to new_user_session_path, class: "item-buy-btn" do
      購入画面に進む

  .modal
    .modal__main
      .modal__body
        %p 確認
        = "削除すると二度と復活できません。"
        %br
        %br
        = "本当に削除しますか？"
      .clearfix
        .cancel-btn キャンセル
        = button_to "削除する", item_path(@item), method: :delete, class: "delete-choice cancel-btn"

  .item-description.f14
    %p.item-description__inner
      = @item.description

  .item-button-container.clearfix
    .item-button-left
      %button.item-button.item-button-like
        =fa_icon "heart-o", class: "heart"
        %span いいね!
        %span.fade-in-down 2
      %button.item-button.item-button-report.clearfix
        =fa_icon "flag"
        %span 不適切な商品の報告
    .item-button-right
      = link_to "" do
        =fa_icon "lock"
        %span あんしん・あんぜんへの取り組み

.item-detail-message
  .message-container
    - if @comments.present?
      .message-content
        %ul.message-items
          = render partial: 'comments',locals: { item: @item, comments: @comments}
    - if user_signed_in?
      .message-content
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = form_for [@item, @comment] do |comment|
          - if @item.buyer_id == nil
            = comment.text_area :text, class: 'textarea-default', required: ""
            = comment.submit "コメントする",class: 'message-submit btn-default btn-gray', style: "cursor: auto;"
          - else
            = comment.text_area :text, class: 'textarea-default disabled'
            = comment.submit "売り切れのためコメントできません", class: 'message-submit btn-default btn-gray',disabled: true

%ul.nav-item-link-prev-next.clearfix
  %li.nav-item-link-prev
    = link_to root_path do
      = fa_icon 'angle-left', class: 'arrow-icon'
      %span 【縦7cm横14cm】THE NORTH  FACEカッティングステッカー 二枚
  %li.nav-item-link-next
    = link_to root_path do
      %span ロデオクラウンズ♡ロングワンピース
      = fa_icon 'angle-right', class: 'arrow-icon'

.item-social-media-box
  .text-center
    .fb-save
  %ul.social-media-box
    %li.social-media-box__icon
      = link_to root_path do
        = fa_icon "facebook-square", class: "facebook"
    %li.social-media-box__icon
      = link_to root_path do
        = fa_icon "twitter", class: "twitter"
    %li.social-media-box__icon
      = link_to root_path do
        = fa_icon "pinterest", class: "pinterest"

.items-in-user-profile
  %h2.items-box-head
    = link_to "#{@item.user.nickname}さんのその他の出品", root_path
  .items-box.clearfix
    %section.items-box-content
      = link_to root_path do
        .items-box-content-photo
          = image_tag 'https://static.mercdn.net/thumb/photos/m42831845963_1.jpg?1551302208', width: '220px'
        .items-box-content-body
          %h3.items-box-content-name ビジュー ニット
          .items-box-content-num.clearfix
            .items-box-content-price
              ¥ 999
              %p.item-box-content-tax (税込)
            .items-box-content-likes
              =fa_icon "heart-o", class: "heart"
              %span 3


.items-in-user-profile
  %h2.items-box-head
    = link_to "#{@item.category} その他の商品", root_path
  .items-box.clearfix
    %section.items-box-content
      = link_to root_path do
        .items-box-content-photo
          = image_tag 'https://static.mercdn.net/thumb/photos/m42831845963_1.jpg?1551302208', width: '220px'
        .items-box-content-body
          %h3.items-box-content-name ビジュー ニット
          .items-box-content-num.clearfix
            .items-box-content-price
              ¥ 999
              %p.item-box-content-tax (税込)
            .items-box-content-likes
              =fa_icon "heart-o", class: "heart"
              %span 3
    %section.items-box-content
      = link_to root_path do
        .items-box-content-photo
          = image_tag 'https://static.mercdn.net/thumb/photos/m42831845963_1.jpg?1551302208', width: '220px'
        .items-box-content-body
          %h3.items-box-content-name ビジュー ニット
          .items-box-content-num.clearfix
            .items-box-content-price
              ¥ 999
              %p.item-box-content-tax (税込)
            .items-box-content-likes
              =fa_icon "heart-o", class: "heart"
              %span 3
    %section.items-box-content
      = link_to root_path do
        .items-box-content-photo
          = image_tag 'https://static.mercdn.net/thumb/photos/m42831845963_1.jpg?1551302208', width: '220px'
        .items-box-content-body
          %h3.items-box-content-name ビジュー ニット
          .items-box-content-num.clearfix
            .items-box-content-price
              ¥ 999
              %p.item-box-content-tax (税込)
            .items-box-content-likes
              =fa_icon "heart-o", class: "heart"
              %span 3

= render 'app-banner'
= render 'footer'

=javascript_include_tag 'slick.js'
=javascript_include_tag 'item_delete_confirm.js'
