- breadcrumb :category, @category
= render '/items/header'

.category-wrapper
  .category-main
    %ul.child-categories-nav


  .categories-box
    %h1.categories-box-head
      = @category.name + "の商品一覧"
    - if @items.length > 0
      .categories-box.clearfix
        - @items.each do |item|
          .categories-box-content
            -if item.buyer_id != nil
              .sold-badge
                .sold-badge-text SOLD
            = link_to item_path(item) do
              .categories-box-content-photo
                - item.pictures.first(1).each do |picture|
                  =image_tag(picture.image.url, class: 'main-image' )

              .categories-box-content-body
                %h3.categories-box-content-name
                  = item.name
                .categories-box-content-num.clearfix
                  .categories-box-content-price
                    = "¥ #{number_with_delimiter(item.price)}"
                  .categories-box-content-likes
                    %i.fa.fa-heart
                    %span
                      8
                %p.categories-box-content-tax
                  (税込)
    - else
      商品はまだ出品されていません

  = paginate @items

  .special-description
    .special-description-title
      %h3
        = @category.name
    .special-description-text
      %p
        = @category.intro

= render '/items/sell-btn'
= render '/items/app-banner'
= render '/items/footer'
