.single-container
  %main
    %section
      %h2 会員情報登録
      =form_for(@addressvalid, html: {class: 'l-single-inner'}) do |f|
        .l-single-content#second-form
          .form-group
            = f.label :郵便番号
            %span.form-require
              必須
            = f.text_field :postal_code, placeholder:'例)123-4567'
            - if @addressvalid.errors.full_messages_for(:postal_code) != []
              = @addressvalid.errors.full_messages_for(:postal_code).each do |message|
                = message
          .form-group
            =f.label :都道府県
            %span.form-arbitrary
              任意
            .select-wrap
              =f.collection_select :prefecture_id, Prefecture.all, :id, :name, {},class: 'select-default'
              =fa_icon "chevron-down"
              - if @addressvalid.errors.full_messages_for(:prefecture_id) != []
                = @addressvalid.errors.full_messages_for(:postal_code).each do |message|
                  = message
          .form-group
            = f.label :市区町村
            %span.form-require
              必須
            = f.text_field :city, placeholder:'例)横浜市緑区'
            - if @addressvalid.errors.full_messages_for(:city) != []
              = @addressvalid.errors.full_messages_for(:city).each do |message|
                = message
          .form-group
            = f.label :番地
            %span.form-require
              必須
            = f.text_field :block, placeholder: '例)青山1-1-1'
            - if @addressvalid.errors.full_messages_for(:block) != []
              = @addressvalid.errors.full_messages_for(:block).each do |message|
                = message
          .form-group
            = f.label :建物名
            %span.form-require
              必須
            = f.text_field :building, placeholder: '例)柳ビル103'
            - if @addressvalid.errors.full_messages_for(:building) != []
              = @addressvalid.errors.full_messages_for(:building).each do |message|
                = message
          .form-group
            = f.label :電話番号
            %span.form-require
              必須
            = f.text_field :phone_number, placeholder: '例)09012345678'
            - if @addressvalid.errors.full_messages_for(:phone_number) != []
              = @addressvalid.errors.full_messages_for(:phone_number).each do |message|
                = message
          .form-group
            = f.submit "次へ進む",class: 'btn-red',id: 'ivent-button2'
