.content
  = render 'shared/second_header'
  %main.content--main
    .sold-form
      %h1
        購入を確定しますか？
      .sold-form--img
        .sold-form--img__in
          %h1.img-form
            - @item.pictures.first(1).each do |picture|
              = image_tag picture.image.url, class: "image-form__in", width:"112px"
          %h2.name-form
            = @item.name
          %h3.price-form
            = "¥ #{number_with_delimiter(@item.price)}"
            %label.price-form__ship-price
              送料込み
          = link_to "#", class: "buy-decide-form" do
            .buy-decide
              %p
                購入する
      .sold-form--ship-region
        .sold-form--ship-region__in
          %h4.title
            配送先
          .content
            %h5.content--place
              〒573-1171
            %h6.content--place
              大阪府枚方市三栗1-1-30
            %h7.content--place
              大西哲平
          = link_to "#", class: "change-content" do
            変更する
            %i.fa.fa-chevron-right
      .sold-form--pay
        .sold-form--pay__in
          %h4.title
            支払い方法
          .content
            %h6.content--place
              \/
          = link_to "#", class: "change-content" do
            変更する
            %i.fa.fa-chevron-right
  = render 'shared/second_footer'
