.content
  = render 'shared/second_header'
  %main.content--main
    .sold-form
      %h1
        購入を確定しますか？
      .sold-form--img
        .sold-form--img__in
          %h1.img-form
            - @item.pictures.first(1).each do |picture|
              = image_tag picture.image.url, class: "image-form__in", width:"112px"
          %h2.name-form
            = @item.name
          %h3.price-form
            = "¥ #{number_with_delimiter(@item.price)}"
            %label.price-form__ship-price
              送料込み
          = form_for @item, url:"/items/#{@item.id}/sold/1" do |f|
            = f.hidden_field :buyer_id, value: current_user.id
            = f.hidden_field :item_price, value: @item.price
            = button_to '購入する','', { class: :"sold-form--img__in__decide",id: "modal-open"}
          #modal-content
            %p
              購入が完了しました！
            %p
              =link_to 'トップへ戻る',root_path,class: "return-button"
      .sold-form--ship-region
        .sold-form--ship-region__in
          %h4.title
            配送先
          .content
            %h5.content--place
              = "〒" + current_user.address.postal_code
            %h6.content--place
              = current_user.address.city
              = current_user.address.block
              = current_user.address.building
            %h7.content--place
              = current_user.last_name
              = current_user.first_name
          = link_to "#", class: "change-content" do
            変更する
            %i.fa.fa-chevron-right
      .sold-form--pay
        .sold-form--pay__in
          %h4.title
            支払い方法
          .content
            %h6.content--place
              = "***********" + current_user.credit.card_number.last(4)
            %span
              = current_user.credit.exp_month + " /"
              = current_user.credit.exp_year
          = link_to "#", class: "change-content" do
            変更する
            %i.fa.fa-chevron-right
  = render 'shared/second_footer'

=javascript_include_tag 'modal.js'


